.auth-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px -2px 12px 6px rgba(0,0,0,0.41);
  margin: auto;
  width: 20vw;
  text-align:center;
}

.usertext {
  
}




.iframe {
  border:1px;
}
